<nav th:fragment="navbar2" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:8080/">Universidad</a>
    <div class="d-flex" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profesores
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="http://localhost:8080/profesores">Listado</a></li>
            <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/formulario/profesornuevo">Agregar Profesor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alumnos
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="http://localhost:8080/alumnos">Listado</a></li>
            <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/formulario/alumnonuevo">Agregar Alumno</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="http://localhost:8080/cursos">Listado</a></li>
            <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="http://localhost:8080/formulario/cursonuevo">Agregar Curso</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" href="/registrar" id="navbarDarkDropdownMenuLink" aria-expanded="false">
            Registrate
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" href="/login" id="navbarDarkDropdownMenuLink" aria-expanded="false">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>